/*--------------- Memory Container ---------------*/
.content{}
.container{
    padding: 20px;
}


/*--------------- Search ---------------*/

.searchForm form{
    display: flex;
}

.searchForm form > div {
    flex: 1 1 33.3333%;
    margin-right: 50px;
}

.searchForm form > div:last-child {
    margin-right: 0;
    margin-top: 34px;
    flex: 0 1 auto;
}


.search__image{}
.search__image img {
    width: 800px;
    height: 275px;
    object-fit: cover;
}

.infoBlock {
    width: 350px;
    height: 250px;
    position: absolute;
    top:50%;
    left: 50%;
    background-color: #e9eef1;
    transform: translate(-50%, -50%);
    border: 2px gray solid;
    border-radius: 3px;
    padding: 20px;
}

.infoBlock__closeButton {
    text-align: end;
}
.infoBlock__closeButton button{
    background-color: inherit;
    font-size: 16px;
    padding: 3px;
}

.infoBlock__bodyText{
    overflow: auto;
}
.infoBlock__bodyText p {
    margin-bottom: 8px;
    font-size: 15px;
}

/*--------------- Save ---------------*/

/*--------------- SaveFORM ---------------*/

.form_block{}

.toolsProjection{
    border-left: 3px #dddbdb solid;
    padding: 20px;
}

.toolsProjection__toolBar{
}
.toolsProjection__toolBar input {
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 100%;
}

.toolsProjection__button {
    margin-top: 9px;
}
.toolsProjection__button button {
    width: 100%;
}

.toolsProjection__button{
    text-align: center;
    
}
.toolsProjection__button button{
    border-radius: 3px;
    padding: 1px 0;
    font-size: 14px;
    background-color: #61a6d9;
    color: white;
}
.toolsProjection__button button:hover{
    background-color: #29323d;
}

/*--------------- Save ---------------*/

.sortForm form {
    display: flex;
}







