.content {}



.projection{
    display: flex;
}

/*--------------------------------------------------------------------------*/

.currentProjection{
    padding: 20px;
}

.currentProjection__image{
    margin: 40px 0;
}

.currentProjection__image img{
    max-width: 500px;
}

/*------------------------------- FORM ------------------------------------------*/

.form_block{
    margin: 0;
}

/* .toolsProjection{
    border-left: 3px #dddbdb solid;
    padding: 20px;
} */

.toolsProjection__toolBar{
}
.toolsProjection__toolBar input {
    padding: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 100%;
}




