.gallery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.gallery__arrow{
    cursor: pointer;
}

.gallery__arrow img{
    width: 30px;
    height: 25px;
}

.gallery__image{}

.gallery__image img{
    width: 800px;
    height: 275px;
    object-fit: cover;
}

.gallery__image__small img {
    width: 270px;
    height: 170px;
}

.gallery__image__middle img {
    width: 550px;
    height: 200px;
}